* {
  margin: 0;
  padding: 0;
}
/* Typography settings */
body {
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
}
nav {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 1;
  letter-spacing: 4.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Standard Idle Button Style */
.btn-explore {
  display: grid;
  place-items: center;
  position: relative;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-width: 0px;
  text-decoration: none;
}

.btn-explore::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  background: gray;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.btn-explore:hover::after,
.btn-explore:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.btn-explore-position {
  display: flex;
  justify-content: center;
}
